.cta-box {
  padding: 120px 0 150px;
  background: url('../img/cta-bg.png') center center / cover no-repeat, #272733;
}


.scheme-cards {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -25px;

  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: calc(20% - 50px);
    margin: 25px;
    position: relative;

    &:before {
      content: '';
      position: absolute;
      top: 50px;
      left: 165px;
      width: 110px;
      height: 6px;
      background: url('../img/element.svg') center center / contain no-repeat;
    }

    &.no-before {
      &:before {
        display: none;
        visibility: hidden;
      }
    }

    .card-icon {
      width: 100px;
      height: 100px;
      display: flex;
      justify-content: center;
      align-items: center;
      background: var(--main-color);
      border: 5px solid #286690;
      border-radius: 250px;
      margin-bottom: 20px;
      z-index: 3;
    }

    .card-title {
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 19px;
      text-align: center;
      color: #FFFFFF;
    }
  }
}

.cta-box-form {
  display: flex;
  flex-direction: column;
  margin-top: 60px;

  &__submit {
    display: flex;
    justify-content: center;
    margin-top: 40px;

    .main-btn {
      width: 370px;
      max-width: 100%;
      cursor: pointer;
    }
  }
}

.cta-box-form-body {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -15px;

  &__item {
    width: calc(33.33% - 30px);
    margin: 15px;
    display: flex;
    flex-direction: column;

    &.range-item {
      width: calc(66.66% - 30px);
    }

    input {
      width: 100%;
      background: #ffffffd9;
      border: 1px solid #FFFFFF;
      border-radius: 3px;
      padding: 12px 10px;
      font-style: normal;
      font-weight: 400;
      font-size: 18px;
      line-height: 22px;
      display: flex;
      align-items: center;
      color: #272733;

      &:hover {
        border-color: var(--main-color);
        box-shadow: 0 0 0 2px var(--main-color);
      }

      &:focus {
        background: #3d4050d9;
        color: #fff;
        border-color: #3d4050d9;
      }
    }
  }
}

.select-hidden {
  display: none;
  visibility: hidden;
}

.select {
  position: relative;
}

.select-styled {
  width: 100%;
  background: rgba(255, 255, 255, 0.85);
  border: 1px solid #FFFFFF;
  border-radius: 3px;
  padding: 12px 10px;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  display: flex;
  align-items: center;
  color: #272733;
  cursor: pointer;
  transition: all .3s ease;

  &:hover {
    box-shadow: 0 0 0 3px var(--main-color);
  }

  &.active {
    background: #3d4050d9;
    border-radius: 3px 3px 0px 0px;
    color: #fff;
    border-color: #3d4050d9;
  }

  &:after {
    content: '\f078';
    font-family: 'fontawesome';
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    margin-left: auto;
  }
}

.select-options {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 5;
  background: #272733e6;
  border: 1px solid #3D4050;
  border-radius: 3px;
  margin-top: -1px;
  transition: all .3s ease;
  max-height: 180px;
  overflow: auto;

  &::-webkit-scrollbar {
    width: 7px;
    height: 7px;
  }

  &::-webkit-scrollbar-track {
    background-color: #3D4050;
    border-radius: 250px;
  }

  &::-webkit-scrollbar-thumb {
    background: var(--main-color);
    border-radius: 250px;
  }

  li {
    padding: 5px 10px;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 34px;
    display: flex;
    align-items: center;
    color: #fff;
    cursor: pointer;
    transition: all .3s ease;

    &:hover {
      color: var(--main-color);
    }

    &.is-selected {
      color: var(--main-color);
    }

    &[rel="hide"] {
      display: none;
    }
  }
}

.range-input {
  display: flex;
  flex-direction: column;

  &__head {
    display: flex;
    justify-content: space-between;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
    margin-bottom: 20px;

    .range-value {
      margin-left: auto;
      margin-right: 5px;
    }
  }

  input {
    padding: 0;
    width: 100%;
    max-width: 100%;
    padding: 0;
    margin: 0;
    display: block;
    -webkit-appearance: none;
    height: 6px;
    background: #ffffffb3;
    border: 1px solid #FFFFFF;
    border-radius: 250px;

    &:hover {
      box-shadow: none;
    }

    &:focus {
      background: #ffffffb3;
    }

    &::-webkit-slider-thumb {
      -webkit-appearance: none;
      background-color: var(--main-color);
      border: 3px solid #286690;
      width: 20px;
      height: 20px;
      border-radius: 50%;
      cursor: pointer;
      transition: .3s ease-in-out;
    }
  }
}

.file-input {
  background: #FFFFFF;
  border: 2px solid #3E9CDC;
  border-radius: 3px;
  padding: 12px 10px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all .3s ease;

  &:hover {
    background: var(--main-color);
    color: #fff;

    path {
      fill: #fff;
    }
  }

  input {
    display: none;
    visibility: hidden;
  }

  .file-icon {
    width: 22px;
    height: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .file-text {
    margin-left: 10px;
  }
}