@use "sass:math";

//<МИКСИНЫ>===============================================================================================
@import "mixins";
//</МИКСИНЫ>===============================================================================================

//<Подключаем шрифты>=======================================================================================
//&display=swap&subset=cyrillic-ext
@import "fonts";
//</Подключаем шрифты>=======================================================================================

//<Шрифт по умолчанию>==========================================================================================
$fontFamily: 'Lato';
$fontSize: 16;
//</Шрифт по умолчанию>==========================================================================================

:root {
	--main-color: #3E9CDC;
	--sec-color: #565656;
}

//<ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ>====================================================================================================
@import "null";
@import "global";
@import "header";
@import "footer";
@import "main-banner";
@import "cta-box";
//</ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ>====================================================================================================

//<ПОДКЛЮЧЕНИЕ Адаптива>=========
@import "burger";
@import "responsive";
//</ПОДКЛЮЧЕНИЕ Адаптива>=====